{{> nav/nav-block}}

<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{#each events}}
          <div class="card">
            <div class="card-header">
              <h5>{{this.text}}</h5>
            </div>
            <div class="card-body" id="event-list">
              <ul>
                <li>{{this.description}}</li>
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/dashboard.js"></script>

{{> modal/login-block}}