{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Review</h5>
          <p>
            <strong>ID</strong>: {{review.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{review.name}}</p>
          <p>
            <strong>Description:</strong> {{review.description}}</p>
            <a href="/dashboard">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}
