body {
  color: #F2CC8F;
  background-size: cover;
  height:100%;
  background-color: #F4F1DE;
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  background-color: #E07A5F !important;
}
.nav-link {
  color: #3D405B !important;
  font-size: larger;
}

.navbar-brand {
  color: #F2CC8F !important;
  font-size: 30px;
  font-weight: bolder;
}

.jumbotron {
  background: rgba(0,0,0,0);
}

.modal {
  color: black;
}

.btn {
  color:#F4F1DE;
  background:#3D405B;
  border: 1px solid white;
}

/*covid safety guidelines checkbox*/

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: #E07A5F !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: #81B29A;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

[data-useremail="true"] {
  color: #F4F1DE !important;
}
[data-register="true"] {
  color: #F4F1DE !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #F4F1DE !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #3D405B;
  background-color: #F4F1DE;
}

a {
  color: #3D405B;
}

.event-card {
  border-color: black;
  background-color: #F4F1DE;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.event-card-title {
  text-align: center;
}

h4 {
  text-align: center;
  margin-top: 15px;
}