<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/">
    EventSafe
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">

      {{#if isloggedin}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event">My Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/review">My Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="login-modal">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" data-register={{register}}>Register</a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

{{> modal/login-block}}
